$top-bar-height: 80px;

.container {
  height: 100%;
  width: 100%;
  background-color: yellow;
  .top_container {
    position: fixed;
    width: 100%;
    height: $top-bar-height;
    background-color: gray;

    z-index: 1000;
  }
  .bottom_container {
    width: 100%;
    display: flex;
    padding-top: $top-bar-height;
    flex-direction: row;
    background-color: gray;
    z-index: 9000;
    .side_container {
      height: 100%;
      width: 260px;
      z-index: 999;
      background-color: gray;
    }
    .content_container {
      flex-grow: 1;
      height: 100%;
      width: 0;
      background-color: indigo;
    }
  }
}
