.recent_collection_list_container {
  width: 100%;
  background-color: pink;
}

.tab_container {
  max-width: 717px;
  padding-top: 157px;
  margin: 0 auto;
}

.search_container {
  width: 100%;
  margin-bottom: 90.5px;
  .search_bar {
    margin: 0 auto;
    width: 518px;
    height: 53px;
    background-color: gray;
  }
}

.view_pager_container {
  width: 500px;
  height: 500px;
  background-color: pink;
}

.for_user_list_item_container {
  width: 300px;
}
.often_found_list_item_container {
  width: 400px;
}

.go_to_all_company {
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;

  font-size: 14px;
  color: #707070;
}

.recent_collection_container {
  margin-top: 70px;
}
.often_collection_container {
  margin-top: 70px;
}
.popular_collection_container {
  margin-top: 70px;
}
.company_collection_container {
  margin-top: 70px;
}
