$top-bar-height: 48px;

.container {
  width: 100%;

  .top_container {
    position: fixed;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: $top-bar-height;
    background-color: white;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    z-index: 1000;

    .menu_container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      .logo_container {
        flex-grow: 1;
        height: 100%;
      }

      .menu_content {
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-right: 100px;
        .icon_container {
          flex-grow: 1;
          height: 100%;
          width: 16px;
          margin-left: 5px;
          margin-right: 5px;
          position: relative;
          cursor: pointer;
          img {
            height: auto;
            width: 16px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          .notification_icon {
            content: url("../../../resources/icons/toptab_alert_icon.png");
          }
          .profile_icon {
            content: url("../../../resources/icons/sidetab_persona_icon.png");
          }

          &:hover {
          }
        }
      }
    }
    .top_divider {
      height: 0.5px;
      margin-bottom: 0.5px;
      background-color: #e0e0e0;
      width: 100%;
    }
  }

  .bottom_container {
    width: 100%;
    display: flex;
    height: 100vh;
    padding-top: $top-bar-height;
    box-sizing: border-box;
    flex-direction: row;
    z-index: 9000;

    .body_container {
      width: 100%;
      height: 100%;
    }
  }
}
