.side_menu_container {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 100px;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  height: 50px;
}

.dropdown_button_container {
  position: absolute;
  width: 55px;
  height: 20px;
  left: 0;
  top: 0;

  .dropdown_button {
    position: relative;
    height: 100%;
    width: 100%;
    .text {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translate(0, -50%);
      font-family: "Noto Sans CJK KR Regular";
      font-size: 14px;
      letter-spacing: -0.7px;
      color: #4b4b4b;
    }
    .icon {
      position: absolute;
      right: 5px;
      top: 50%;
      width: 10px;
      height: auto;
      transform: translate(0, -50%);
    }
    .icon_opened {
      content: url("../../../resources/icons/drop_down_close.png");
    }
    .icon_closed {
      content: url("../../../resources/icons/drop_down_open.png");
    }
  }
}

.dropdown_menu {
  position: absolute;
  width: 140px;
  height: 130px;

  top: 30px;
  left: 0;
  background-color: white;
  border-width: 1px;
  border-color: green;
  border-radius: 10px;
  z-index: 999;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  background-color: white;
}

.instruction_item {
  position: relative;
  height: 30px;
  padding: 10px;
  cursor: default;
  box-sizing: border-box;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  .writer_name {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Noto Sans CJK KR Regular";
    font-size: 13px;
    letter-spacing: -0.7px;
  }
  .writer_count {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font-family: "Noto Sans CJK KR Regular";
    font-size: 12px;
    letter-spacing: -0.7;
    color: #4b4b4b;
  }
}

.writer_item {
  position: relative;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;

  .writer_checkbox {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background-color: indianred;
  }

  .writer_name {
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translate(0, -50%);
    font-family: "Noto Sans CJK KR Regular";
    font-size: 13px;
    letter-spacing: -0.7px;
  }
  .writer_name_checked {
    color: #105710;
  }
  .writer_name_unchecked {
    color: #4b4b4b;
  }
  .writer_count {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font-family: "Noto Sans CJK KR Regular";
    font-size: 12px;
    letter-spacing: -0.7;
    color: #4b4b4b;
  }
}

.writer_item_checked {
  //background-color: #e0e0e0;
}
.writer_item_unchecked {
  //background-color: white;
}

.attended_user_container {
  .count_text {
    height: 30px;
    font-family: "Noto Sans CJK KR Regular";
    font-size: 15px;
    letter-spacing: -0.75px;
    color: #55b855;
  }
  .count_text_check_container {
    display: flex;
    flex-direction: row;
    .dropdown_icon {
    }
    img {
      height: auto;
      width: 10px;

      margin-left: 2px;
      margin-top: -3px;
      content: url("../../../resources/icons/create_collection_drop_down_icon.png");
    }
    .text {
      font-size: 15px;
      letter-spacing: -0.75px;
      text-align: left;
      color: #707070;
      font-family: "Noto Sans CJK KR Bold";
      margin-right: 10px;
    }
    .count_text_check {
      height: 30px;
      font-family: "Noto Sans CJK KR Regular";
      font-size: 15px;
      letter-spacing: -0.75px;
      color: #55b855;
    }
  }
}

.list_container {
  width: 100%;
  margin-top: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #bababa;
  border-radius: 5px;
  background-color: white;
  overflow: auto;

  .list_container_padding_top {
    height: 11px;
  }
  .user_info {
    width: 100%;
    position: relative;
    height: 28px;
    &:hover {
      background-color: #5cd25c;
    }

    .user_info_text {
      position: absolute;
      left: 14px;
      top: 50%;

      transform: translate(0%, -50%);
      font-size: 14px;

      color: #7b7b7b;
      font-family: "Noto Sans CJK KR Regular";
      letter-spacing: -0.7px;
    }
    Button {
      position: absolute;
      right: 12px;
      top: 50%;
      width: 15px;
      height: 15px;
      background-color: #f2f2f2;
      border-radius: 50%;
      transform: translate(0%, -50%);

      .minus_container {
        position: relative;
        height: 100%;
        width: 100%;

        .minus {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          height: 1px;
          width: 8px;

          background-color: #ff0000;
        }
      }
    }
  }
}

.set_title_container {
  margin-bottom: 30px;
  .setting_stage_container {
    $icon_width_height: 24px;
    margin-bottom: 8px;
    position: relative;
    height: 30px;

    .text {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translate(0%, -50%);
      font-size: 16px;
      font-family: "Noto Sans CJK KR Bold";
      letter-spacing: -1px;
      color: #136913;
    }
  }
  .title {
    input {
      font-size: 16px;
      color: #707070;
    }
  }
}

.share_button {
  margin-top: 30px;
}
