.platter_container {
  position: relative;
  width: 100%;
  margin: auto 0;
  padding-top: 112px;
  padding-bottom: 90px;
  box-sizing: border-box;
  .align_container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 750px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    padding-top: 80px;
  }
}

.platter_info_container {
  position: relative;
  margin-top: 20px;

  height: 150px;
  margin-bottom: 140px;
  .title_container {
    position: absolute;
    bottom: 0;
    left: 0;
    “ .subtitle {
      input {
        font-size: 15px;
        color: #707070;
      }
    }

    .title {
      input {
        font-size: 37px;
        color: #707070;
      }
    }
  }

  .writer_container {
    position: absolute;
    width: 200px;
    bottom: 0;
    right: 0;

    .date_text {
      text-align: right;
      font-size: 12px;
      color: #707070;
      letter-spacing: 0px;
      font-family: "Noto Sans CJK KR Light";
    }

    .profile_container {
      position: relative;
      margin-top: 64px;
      height: 50px;

      .avatar {
        position: absolute;
        right: 110px;
        top: 50%;
        transform: translate(0%, -50%);
        height: 35px;
        width: 35px;
      }

      .name_text_container {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);

        .name_text {
          text-align: right;
          font-size: 11px;

          color: #707070;
          letter-spacing: 0px;
          font-family: "Noto Sans CJK KR Regular";
        }
        .company_text {
          margin-top: 3px;
          text-align: right;
          font-size: 11px;

          color: #707070;
          letter-spacing: 0px;
          font-family: "Noto Sans CJK KR Regular";
        }
      }
    }
  }
}

.dot_menu_dialog {
}
.paper_scroll_paper {
  display: flex;
  max-height: calc(100% - 64px);
  flex-direction: column;
}
.dot_menu_container {
  position: relative;
  width: 100%;
  height: 30px;
  .dot_menu {
    position: absolute;
    top: 0;
    right: 0;

    .scrollPaper {
      background-color: black;
      height: 100%;
    }
  }
}
.editor_container {
}

.MuiTextField-root {
  font-size: 30px;
}

.input_option_container {
  width: 100%;
  border-radius: 5px;
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 0.5px;
  background-color: white;
  height: 42px;
  padding-left: 14px;
  box-shadow: "none";
  input {
    font-size: 15px;
    font-family: "Noto Sans CJK KR Light";
    color: #707070;
  }
}

.search_attend_user_item {
  $avatar_width: 30px;
  position: relative;
  width: 300px;
  height: 50px;
  .avatar {
    height: $avatar_width;
    width: $avatar_width;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
  }

  .user_info {
    position: absolute;
    left: $avatar_width + 30px;
    top: 50%;
    transform: translate(0%, -50%);
    .name_text {
      font-size: 14px;
      text-align: left;
      color: #4b4b4b;
      font-family: "Noto Sans CJK KR Regular";
      letter-spacing: -0.98px;
    }
    .user_info_text {
      font-size: 14px;
      text-align: left;
      color: #707070;
      font-family: "Noto Sans CJK KR Regular";
      letter-spacing: -0.98px;
    }
  }
}

.attended_user_container_check {
  margin-top: 68px;
}

.attended_user_container {
  .count_text {
    height: 30px;
    font-family: "Noto Sans CJK KR Regular";
    font-size: 15px;
    letter-spacing: -0.75px;
    color: #55b855;
  }
  .count_text_check_container {
    display: flex;
    flex-direction: row;
    .dropdown_icon {
    }
    img {
      height: auto;
      width: 10px;
      margin-left: 2px;
      margin-top: -3px;
      content: url("../../resources/icons/create_collection_drop_down_icon.png");
    }
    .text {
      font-size: 15px;
      letter-spacing: -0.75px;
      text-align: left;
      color: #707070;
      font-family: "Noto Sans CJK KR Bold";
      margin-right: 10px;
    }
    .count_text_check {
      height: 30px;
      font-family: "Noto Sans CJK KR Regular";
      font-size: 15px;
      letter-spacing: -0.75px;
      color: #55b855;
    }
  }
}
.attend_popover {
  height: 114px;
  width: 200px;

  // marginTop: 5px,
  // borderWidth: 0.5px,
  // borderStyle: solid,
  // borderColor: #bababa,
  // borderRadius: 5px,
  overflow: visible;
}
.list_container {
  width: 100%;
  margin-top: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #bababa;
  border-radius: 5px;
  background-color: white;
  overflow: auto;

  .list_container_padding_top {
    height: 11px;
  }
  .user_info {
    width: 100%;
    position: relative;
    height: 28px;
    &:hover {
      background-color: #5cd25c;
    }

    .user_info_text {
      position: absolute;
      left: 14px;
      top: 50%;

      transform: translate(0%, -50%);
      font-size: 14px;

      color: #7b7b7b;
      font-family: "Noto Sans CJK KR Regular";
      letter-spacing: -0.7px;
    }
    Button {
      position: absolute;
      right: 12px;
      top: 50%;
      width: 15px;
      height: 15px;
      background-color: #f2f2f2;
      border-radius: 50%;
      transform: translate(0%, -50%);

      .minus_container {
        position: relative;
        height: 100%;
        width: 100%;

        .minus {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          height: 1px;
          width: 8px;
          background-color: #ff0000;
        }
      }
    }
  }
}
