.board_container {
  position: relative;

  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  .container {
    position: absolute;
    margin: 300px 0px 300px 0px;
    border-radius: 15px;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    width: 100%;
    max-width: 1154px;
  }
}
.center_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-family: "Noto Sans CJK KR Regular";
  letter-spacing: -0.98px;
  color: #e2e2e2;
  .search_container {
  }
}

.search_platter {
  flex-grow: 1;
  height: 50px;
  position: relative;
  z-index: 3500;
  margin-right: 28px;
  .add_platter_button {
    position: absolute;
    right: 75px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .search_menu_container {
    display: flex;
    flex-direction: row;
    width: 598px;
    vertical-align: center;

    .align_container {
      height: 100%;
    }
    .text {
      font-size: 18px;
      font-family: "Noto Sans CJK KR Regular";
      letter-spacing: -0.98px;
      color: #707070;
      margin-top: 3px;
    }
    .divider {
      position: relative;
      width: 1px;
      height: 100%;
      margin: 0 30px 0 30px;
      .line {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(0, -50%);
        height: 23px;
        width: 100%;
        background-color: #707070;
      }
    }
    .text_field {
      flex-grow: 1;
      margin-right: 50px;
      margin-top: 0px;
      margin-bottom: 0px;
      input {
        font-size: 18px;
        font-family: "Noto Sans CJK KR Regular";
        letter-spacing: -0.98px;
        color: #949494;
      }
    }
  }

  .container_search {
    //transition: all 0.5s ease;
  }

  .container_search_close {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    // animation: ease-in alternate;
    // animation-name: close;
    // animation-duration: 0.1s;
  }
  .container_search_open {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    animation: ease-out alternate;
    animation-name: open;
    animation-duration: 0.3s;
  }
  @keyframes open {
    0% {
      left: 100%;
      opacity: 0;
    }
    100% {
      left: 50%;
      opacity: 1;
    }
  }
  @keyframes close {
    0% {
      right: 50%;
      opacity: 0;
    }
    100% {
      right: 0%;
      opacity: 1;
    }
  }
}

.search_platter_container {
  width: 600px;
  padding-top: 3px;
  background-color: white;
  height: 354px;
  border-radius: 0 0 10px 10px;
  .has_notification {
    position: relative;
    height: 100%;
    width: 100%;
    .notification_icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      width: 10px;
      background-color: #38cc5b;
      border-radius: 50%;
    }
  }
  .head_cell {
    font-size: 14px;
    font-family: "Noto Sans CJK KR Bold";
    letter-spacing: -0.98px;

    color: #707070;
  }
  .body_cell {
    font-size: 14px;
    font-family: "Noto Sans CJK KR Regular";
    letter-spacing: -0.98px;
    color: #707070;
  }
  .header {
    margin: 17px 22px 22px 22px;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    height: 35px;
    display: flex;
    .collection_title {
      position: absolute;
      left: 0px;
      top: 0px;
      font-size: 14px;
      font-family: "Noto Sans CJK KR Bold";
      letter-spacing: -0.98px;
      color: #707070;
    }
    .menu_container {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 200px;
      .show_all {
        width: 100%;
        height: 17px;
        position: relative;
      }
      .only_attending_platter {
        width: 100%;
        height: 17px;
        position: relative;
      }
    }
  }
}
.icon_container {
  height: 100%;
  width: 16px;
  margin-right: 10px;
  position: relative;

  img {
    height: auto;
    width: 8px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .pinned_icon {
    content: url("../../resources/icons/pinned_collection_icon.png");
  }
}

.home_container {
  height: 100%;
  width: 19px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  img {
    height: auto;
    width: 19px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .home_icon {
    content: url("../../resources/icons/collection_view_home_icon.png");
  }
}
.switch_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .switch {
    $switch_radius: 36px;
    display: flex;
    flex-direction: row;
    width: 168px;
    flex-grow: 1;
    .mode {
      position: relative;
      width: 100%;
      height: 100%;
      flex-grow: 1;
      width: 0;
      cursor: pointer;
      .mode_text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .view_mode {
      //   border-radius: $switch_radius 0 0 $switch_radius;
    }
    .task_mode {
      //  border-radius: 0 $switch_radius $switch_radius 0;
    }
    .mode_active {
      // border-bottom-style: solid;
      // border-bottom-color: white;
      // border-bottom-width: 3px;
    }
    .mode_inactive {
      // border-bottom-style: solid;
      // border-bottom-color: transparent;
      // border-bottom-width: 3px;
    }
  }
  .bar_container {
    position: relative;
    height: 3px;
    width: 100%;

    .bar {
      height: 100%;
      width: 50%;
      background-color: white;
    }
    .first_bar {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .view_bar {
      position: absolute;
      top: 0px;
      left: 0px; //가변
      animation: ease-out alternate;
      animation-name: view;
      animation-duration: 0.3s;
    }
    .task_bar {
      position: absolute;
      top: 0px;
      right: 0px; //가변
      animation: ease-out alternate;
      animation-name: task;
      animation-duration: 0.3s;
    }

    @keyframes view {
      0% {
        left: 50%;
      }
      100% {
        left: 0%;
      }
    }
    @keyframes task {
      0% {
        right: 50%;
      }
      100% {
        right: 0%;
      }
    }
  }
}
.switch_container_back_up {
  .switch {
    $switch_radius: 36px;
    display: flex;
    flex-direction: row;
    width: 168px;
    height: 38px;
    .mode {
      position: relative;
      width: 100%;
      height: 100%;
      flex-grow: 1;
      width: 0;

      .mode_text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .view_mode {
      //   border-radius: $switch_radius 0 0 $switch_radius;
    }
    .task_mode {
      //  border-radius: 0 $switch_radius $switch_radius 0;
    }
    .mode_active {
      border-style: solid;
      border-color: white;
      border-width: 3px;
    }
    .mode_inactive {
      border-style: solid;
      border-color: transparent;
      border-width: 3px;
    }
  }
}
.add_icon {
  margin-top: 3px;
  margin-right: -3px;
  height: 16px;
  width: 16px;
  content: url("../../resources/icons/platter_add_icon.png");
}
