.container {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
  max-width: 800px;

  .title_container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .title {
      flex-grow: 1;
      height: fit-content;
      align-items: center;
      position: relative;
      background-color: red;
    }
    .arrow_button {
      position: relative;
      height: 100%;
      width: fit-content;
    }
  }

  .comment_container {
    width: 100%;
    margin-top: 1em;
    .comment_paper {
      border: 1px solid #c0c0c0;
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 1em;
      padding-bottom: 0.6em;
      border-radius: 0.3em;
    }
  }
}

.comment_editor {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.option_display_container {
  height: 100%;
  width: 100%;
  background-color: green;
}

.option_container {
  width: 100%;
  height: fit-content;
}
