.board {
  height: 2000px;
  width: 2000px;
  position: absolute;
  background-color: #ffffff;
}

.menu_bar {
  width: 100%;
  height: 50px;
  background-color: darkcyan;
  border-bottom: gray;
  border-width: 0.5px;
}

.workspace_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.memo_board {
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  position: absolute;
}

.document {
  z-index: 1;
}

.page {
  position: absolute;
  z-index: 1;
}

.memo_item {
  z-index: 999;
  height: 0px;
}

.testt {}

.pan_board {
  position: relative;
  overflow: hidden;
  width: 2000px;
  height: 2000px;
  background-color: gray;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.panzoom_box_container {
  width: 100%;
  height: 100%;

  .panzoom_box {
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 100%;
    outline: 0;
  }
}


.container {
  height: 200px;
  width: 200px;
}

.viewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1000px;
  background-color: #ffff44;
}

.list_item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.split_list_view {
  width: 100%;
  height: 100%;
}

.split_pane {
  flex-grow: 1;
  width: 100%;
  background-color: white;
}