.root {
  background-color: white;

  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .step_container {
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 626px;
    z-index: 2000;
  }

  .header_container {
    display: flex;
    flex-direction: row;
    height: 62px;
    z-index: 2500;
    background-color: #f9f9f9;
    padding: 38px 0 30px 0;

    .stepper_container {
      flex-grow: 1;
      width: 0px;
      position: relative;
      height: 100%;
      margin-right: 100px;

      .stepper {
        position: absolute;
        right: 0px;
        top: 0;
        width: 100%;
        //transform: translate(0, -50%);

        .complete_icon {
          position: absolute;

          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        img {
          content: url("../../resources/icons/create_platter_check_icon.png");
          width: 13px;
          height: auto;
        }
      }
    }
    .save_draft_container {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
      height: 100%;
      width: 200px;

      .button {
        position: absolute;
        right: 0px;
        top: 0%;
        width: 100%;
        transform: translate(0, 0%);
      }
    }
  }
  .header_divider {
    width: 100%;

    height: 1px;
    background-color: #e0e0e0;
    z-index: 3500;
  }
}

.input_option_container {
  width: 100%;
  border-radius: 5px;
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 0.5px;
  background-color: white;
  height: 42px;
  padding-left: 14px;
  box-shadow: "none";
  input {
    font-size: 15px;
    font-family: "Noto Sans CJK KR Light";
    color: #707070;
  }
}

.next_button_container {
  position: relative;
  width: 100%;
  .next_button {
    position: absolute;
    right: 0px;
  }
}

.first_step_container {
  margin: 58px 95px 88px 95px;
  .collection_type {
    font-size: 16px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #707070;
    font-family: "Noto Sans CJK KR Bold";
  }
  .service_type {
    font-size: 24px;
    text-align: left;
    color: #707070;
    font-family: "Noto Sans CJK KR Bold";
    letter-spacing: -1.2px;
    margin-bottom: 38px;
    margin-top: 1px;
  }
  .setting_container {
    $margin_left_right_setting_box: 25px;
    display: flex;
    flex-direction: row;
    margin-top: 68px;

    .setting_stage_container {
      $icon_width_height: 24px;
      margin-bottom: 15px;
      position: relative;
      height: 30px;

      .number {
        position: absolute;
        height: $icon_width_height;
        width: $icon_width_height;
        left: 0px;
        top: 50%;
        margin-top: 1px;
        transform: translate(0%, -50%);
        background-color: #136913;
        border-radius: 50%;
        margin-right: 6px;
        text-align: center;
        font-family: "Noto Sans CJK KR Regular";
        font-size: 15px;
        color: white;
      }
      .text {
        position: absolute;
        left: $icon_width_height + 6px;
        top: 50%;
        transform: translate(0%, -50%);
        font-size: 20px;
        font-family: "Noto Sans CJK KR Bold";
        letter-spacing: -1px;
        color: #136913;
      }
    }

    .set_title_container {
      width: 0;
      flex-grow: 1;
      padding: 5px;
      box-sizing: border-box;
      margin-right: $margin_left_right_setting_box;
      .title_text_field {
      }
    }
    .set_date_container {
      width: 0;
      margin-left: $margin_left_right_setting_box;
      flex-grow: 1;
      padding: 5px;
      box-sizing: border-box;
      position: relative;

      .set_date {
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
  }
}
.second_step_container {
  margin: 58px 92px 150px 92px;

  .attend_text {
    font-family: "Noto Sans CJK KR Bold";
    font-size: 24px;
    letter-spacing: -1.2px;
    color: #707070;
    margin-bottom: 22px;
  }
  .setting_box {
    max-width: 276px;

    .password_container {
      margin-top: 30px;
      .is_password_container {
        position: relative;
        height: 20px;
        margin-top: 10px;
        .check_box {
          position: absolute;
          box-sizing: border-box;
          left: 0px;
          width: 20px;
          height: 20px;
          margin: 0;
        }
        .text {
          position: absolute;
          left: 40px;
          text-align: center;
        }
      }
    }
  }

  .image_check_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .second_next_button_container {
      position: relative;
      width: 100%;
      flex-grow: 1;

      .next_button {
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
  }
}

.third_step_container {
  margin: 58px 91px 150px 91px;
  .title_container {
    display: flex;
    flex-direction: row;

    .collection_title {
      font-size: 24px;
      letter-spacing: -1.2px;
      text-align: left;
      color: #707070;
      font-family: "Noto Sans CJK KR Regular";
      margin-left: 15px;
    }
  }
  .stage_title {
    font-size: 24px;
    letter-spacing: -1.2px;
    text-align: left;
    color: #707070;
    font-family: "Noto Sans CJK KR Bold";
  }
  .setting_box {
    max-width: 313px;

    .collection_info_container {
      display: flex;
      flex-direction: column;
      margin-top: 24px;

      .collection_type {
        display: flex;
        flex-direction: row;
      }
      .service_type {
        display: flex;
        flex-direction: row;
        margin-top: 4px;
      }
      .type {
        font-size: 15px;
        letter-spacing: -0.75px;
        text-align: left;
        color: #707070;
        font-family: "Noto Sans CJK KR Bold";
        margin-right: 10px;
      }
      .text {
        font-size: 15px;
        letter-spacing: -0.75px;
        text-align: left;
        color: #707070;
        font-family: "Noto Sans CJK KR Regular";
      }
    }
    .attend_check_text {
      margin-bottom: 20px;
    }
  }

  .request_container {
    margin-top: 68px;
    .authority_request_text {
      margin-bottom: 8px;
    }
    .request_member_container {
      height: 30px;
      margin: 5px;
      background-color: #aaaaaaaa;
      overflow: auto;
    }
    .request_comment_container {
      margin-top: 20px;
      height: 100px;
    }
  }
  .title_image_check {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .text {
      font-size: 30px;
      text-align: left;
      color: #707070;
      font-family: "Noto Sans CJK KR Bold";
      letter-spacing: -0.98px;
      margin-bottom: 40px;
    }
    .third_finish_button_container {
      position: relative;
      width: 100%;
      flex-grow: 1;
      margin-top: 20px;
      .finish_button {
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
  }
}

.attended_user_container_setting {
  margin-top: 39px;
  height: 150px;
}
.attended_user_container_check {
  margin-top: 68px;
}

.attended_user_container {
  .count_text {
    height: 30px;
    font-family: "Noto Sans CJK KR Regular";
    font-size: 15px;
    letter-spacing: -0.75px;
    color: #55b855;
  }
  .count_text_check_container {
    display: flex;
    flex-direction: row;
    .dropdown_icon {
    }
    img {
      height: auto;
      width: 10px;
      margin-left: 2px;
      margin-top: -3px;
      content: url("../../resources/icons/create_collection_drop_down_icon.png");
    }
    .text {
      font-size: 15px;
      letter-spacing: -0.75px;
      text-align: left;
      color: #707070;
      font-family: "Noto Sans CJK KR Bold";
      margin-right: 10px;
    }
    .count_text_check {
      height: 30px;
      font-family: "Noto Sans CJK KR Regular";
      font-size: 15px;
      letter-spacing: -0.75px;
      color: #55b855;
    }
  }
  .list_container {
    height: 114px;
    margin-top: 5px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #bababa;
    border-radius: 5px;
    overflow: auto;
    .list_container_padding_top {
      height: 11px;
    }
    .user_info {
      width: 100%;
      position: relative;
      height: 28px;
      &:hover {
        background-color: #5cd25c;
      }

      .user_info_text {
        position: absolute;
        left: 14px;
        top: 50%;

        transform: translate(0%, -50%);
        font-size: 14px;

        color: #7b7b7b;
        font-family: "Noto Sans CJK KR Regular";
        letter-spacing: -0.7px;
      }
      Button {
        position: absolute;
        right: 12px;
        top: 50%;
        width: 15px;
        height: 15px;
        background-color: #f2f2f2;
        border-radius: 50%;
        transform: translate(0%, -50%);

        .minus_container {
          position: relative;
          height: 100%;
          width: 100%;

          .minus {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 1px;
            width: 8px;
            background-color: #ff0000;
          }
        }
      }
    }
  }
}

.first_next_button_container {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 75px;

  .next_button {
    position: absolute;
    right: 0px;
  }
}

.search_attend_user_item {
  $avatar_width: 30px;
  position: relative;
  width: 300px;
  height: 50px;
  .avatar {
    height: $avatar_width;
    width: $avatar_width;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
  }

  .user_info {
    position: absolute;
    left: $avatar_width + 30px;
    top: 50%;
    transform: translate(0%, -50%);
    .name_text {
      font-size: 14px;
      text-align: left;
      color: #4b4b4b;
      font-family: "Noto Sans CJK KR Regular";
      letter-spacing: -0.98px;
    }
    .user_info_text {
      font-size: 14px;
      text-align: left;
      color: #707070;
      font-family: "Noto Sans CJK KR Regular";
      letter-spacing: -0.98px;
    }
  }
}

.test_window {
  position: relative;
  height: 100vh;

  width: 100%;
}
.test_dialog {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  padding: 62px 214px 62px 214px;
  box-sizing: border-box;
  z-index: 3000;
}
.background_content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 900;
}
