.button_container {
  height: 10px;
  width: 30px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
  border-color: blue;
  cursor: pointer;
  background-image: url("https://www.mathmlcentral.com/characters/glyphs/TripleDot_L.gif");
}
