.platter_container {
  position: relative;
  width: 100%;
  margin: auto 0;
  padding-left: 300px;
  padding-right: 300px;
  box-sizing: border-box;
}

.platter_info_container {
  position: relative;
  margin-top: 20px;
  height: 220px;
  .title_container {
    position: absolute;
    top: 0;
    left: 0;

    .subtitle {
      input {
        font-size: 14px;
      }
    }

    .title {
      input {
        font-size: 24px;
      }
    }
  }

  .writer_container {
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;

    .date_text {
      text-align: right;
      font-size: 12px;
    }

    .profile_container {
      position: relative;
      height: 50px;
      .avatar {
        position: absolute;
        right: 130px;
        top: 50%;
        transform: translate(0%, -50%);
      }

      .name_text_container {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);

        .name_text {
          text-align: right;
          font-size: 12px;
        }
        .company_text {
          text-align: right;
          font-size: 12px;
        }
      }
    }
  }
}

.dot_menu_dialog {
}
.paper_scroll_paper {
  display: flex;
  max-height: calc(100% - 64px);
  flex-direction: column;
}
.dot_menu_container {
  position: relative;
  width: 100%;
  height: 30px;
  .dot_menu {
    position: absolute;
    top: 0;
    right: 0;

    .scrollPaper {
      background-color: black;
      height: 100%;
    }
  }
}
.editor_container {
}

.MuiTextField-root {
  font-size: 30px;
}
