$top-bar-height: 48px;

.bottom_container {
  position: relative;
  height: 0px;
  width: 100%;
  z-index: 999;
  background-color: #f9f9f9;
  // background-color: red;

  .fixed_container {
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0px;
  }

  .menu_item_activated {
    .text {
      color: #105710;
      font-size: 14px;
      margin-top: 5px;

      font-family: "Noto Sans CJK KR Bold";
      letter-spacing: 0px;
    }
    .home_icon {
      content: url("../resources/icons/sidetab_article_icon_focus.png");
    }
    .list_icon {
      content: url("../resources/icons/sidetab_collection_icon_focus.png");
    }
    .task_icon {
      content: url("../resources/icons/sidetab_memo_icon_focus.png");
    }
    .notification_icon {
      content: url("../resources/icons/sidetab_persona_icon_focus.png");
    }
    .analysis_icon {
      content: url("../resources/icons/sidetab_persona_icon_focus.png");
    }
    .menu_icon {
      content: url("../resources/icons/sidetab_persona_icon_focus.png");
    }
  }
  .menu_item_inactivated {
    .text {
      text-align: center;
      color: black;
      font-size: 14px;
      margin-top: 5px;

      font-family: "Noto Sans CJK KR Regular";
      letter-spacing: 0px;
    }

    .home_icon {
      content: url("../resources/icons/sidetab_article_icon.png");
    }
    .collection_icon {
      content: url("../resources/icons/sidetab_collection_icon.png");
    }
    .memo_icon {
      content: url("../resources/icons/sidetab_memo_icon.png");
    }
    .profile_icon {
      content: url("../resources/icons/sidetab_persona_icon.png");
    }
  }
  .menu_container {
    position: absolute;
    background-color: red;
    left: 50;
    top: 0;
    width: 100%;
    height: 210px;
    .menu_item {
      width: 100%;
      height: 100%;
      background-color: transparent;
      margin-top: 3px;
      margin-bottom: 3px;
      display: flex;
      flex-direction: row;
      text-decoration: none;
      .icon_container {
        height: 100%;
        width: 16px;
        margin-left: 30px;
        margin-right: 10px;
        position: relative;

        img {
          height: auto;
          width: 16px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }

      &:hover {
        background-color: #f0f0f0;
      }
      &:active {
        background-color: #ffffff;
      }
    }
  }
}
